{% extends 'myauth/base.html' %}
{% block title %}
    Register
{% endblock %}

{% block body %}
  <div class="d-flex align-items-center justify-content-center" style="min-height: 100vh; background-color: #f2f2f2;">
    <form method="post" action="{% url 'myauth:register' %}" class="reg-form p-4" style="border: 1px solid #ddd; background-color: #fff;">
      {% csrf_token %}
      <h2 class="text-center">Register</h2>
      <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input type="text" id="username" name="username" class="reg-form__input form-control" required>
      </div>
      <div class="mb-3">
        <label for="first_name" class="form-label">First Name:</label>
        <input type="text" id="first_name" name="first_name" class="reg-form__input form-control" required>
      </div>
      <div class="mb-3">
        <label for="last_name" class="form-label">Last Name:</label>
        <input type="text" id="last_name" name="last_name" class="reg-form__input form-control" required>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" id="email" name="email" class="reg-form__input form-control" required>
      </div>
      <div class="mb-3">
        <label for="password1" class="form-label">Password:</label>
        <input type="password" name="password1" class="reg-form__input form-control" required>
      </div>
      <div class="mb-3">
        <label for="password2" class="form-label">Confirm Password:</label>
        <input type="password" name="password2" class="reg-form__input form-control" required>
      </div>
      <button type="submit" class="btn btn-outline-primary">Register</button>
      <a href="{% url 'myauth:login' %}" class="btn btn-link">Already have an account? Login</a>
    </form>
  </div>
{% endblock %}